on:
  schedule:
    - cron: "0 9 * * *" # Every day at 9 am UTC
  workflow_dispatch:

name: Run Scala Steward on gvolpe's repos

jobs:
  scala-steward:
    runs-on: ubuntu-18.04
    name: Launch Scala Steward
    steps:
      - uses: actions/checkout@v2

      - name: Launch Scala Steward
        uses: scala-steward-org/scala-steward-action@v2.19.0
        with:
          github-token: ${{ secrets.REPO_GITHUB_TOKEN }}
          repos-file: 'repos.md'
          author-email: gvolpe-steward[bot]@users.noreply.github.com
          author-name: gvolpe-steward[bot]
